<html>
<head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<a href="/" class="link-plain">
  <h1>Bookmarks</h1>
</a>

<form action="/" method="GET">
    <input name="tag" value="{{tagParam}}" type="hidden" />
    <input name="title" type="text" value="{{titleParam}}" placeholder="Search title" />
    <a class="link-plain" href="/?tag={{tagParam}}">&times;</a>
</form>

<table>
    <thead>
    <tr>
        <th class="col-clip col-id">
            id
        </th>
        <th class="col-clip col-title">
            title
        </th>
        <th class="col-wrap col-tags">
            tags
        </th>
        <th class="col-clip col-url">
            url
        </th>
        <th class="col-clip col-date-added">
            dateAdded
        </th>
    </tr>
    </thead>
    <tbody>
    {{#bookmarks}}
        <tr>
            <td class="col-clip col-id">
                {{id}}
            </td>
            <td class="col-clip col-title">
                {{title}}
            </td>
            <td class="col-wrap col-tags">
                <div class="container-tags">
                  {{#tags}}
                    <a href="/?title={{titleParam}}&tag={{.}}" class="link-tag link-plain">
                      {{.}}
                    </a>
                  {{/tags}}
                </div>
            </td>
            <td class="col-clip col-url">
                <a href="{{url}}"
                   target="_blank"
                   rel="noopener noreferrer">
                  {{url}}
                </a>
            </td>
            <td class="col-clip col-date-added">
                {{dateAdded}}
            </td>
        </tr>
    {{/bookmarks}}
    </tbody>
</table>
</body>
</html>
