<html>
<head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<h1>Bookmarks</h1>
<table>
    <thead>
    <tr>
        <th class="clip id">
            id
        </th>
        <th class="clip title">
            title
        </th>
        <th class="wrap tags">
            tags
        </th>
        <th class="clip url">
            url
        </th>
        <th class="clip date-added">
            dateAdded
        </th>
    </tr>
    </thead>
    <tbody>
    {{#bookmarks}}
        <tr>
            <td class="clip id">
                {{id}}
            </td>
            <td class="clip title">
                {{title}}
            </td>
            <td class="wrap tags">
                <ul>
                {{#tags}}
                    <li>
                        <a href="/?tag={{.}}">
                          {{.}}
                        </a>
                    </li>
                {{/tags}}
                </ul>
            </td>
            <td class="clip url">
                <a href="{{url}}"
                   target="_blank"
                   rel="noopener noreferrer">
                  {{url}}
                </a>
            </td>
            <td class="clip date-added">
                {{dateAdded}}
            </td>
        </tr>
    {{/bookmarks}}
    </tbody>
</table>
</body>
</html>
