.col-clip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-wrap {
  white-space: wrap;
}

.col-id {
  width: 5%;
}

.col-title {
  width: 30%;
}

.col-tags {
  width: 15%;
}

.col-url {
  width: 35%;
}

.col-date-added {
  width: 10%;
}

.container-tags {
  display: flex;
  flex-wrap: wrap;
}

.link-tag {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: initial;
  font-family: sans-serif;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
}

.link-heading {
  color: initial;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 4px;
}

ul {
  margin: 0;
  padding: 0 0 0 16px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: sans-serif;
}