.column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.id {
  width: 5%;
}

.title {
  width: 45%;
}

.url {
  width: 35%;
}

.date-added {
  width: 10%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 4px;
}
